<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Panel de control</title>
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet">
<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
<style>
	table td:first-child {
    width: 120px;
	}
	table td:nth-child(2) {
	  width: 300px;
	}
	table td:nth-child(3) {
	  width: 120px;
	}
	table td:nth-child(4) {
	  width: 300px;
	}
	table td:nth-child(5) {
	  width: 100px;
	}
	table td:last-child {
	  width: 150px;
	}
	/*remove button styles*/
	#btnLogout {
	  background: none;
	  border: 0;
	  color: inherit;
	  /* cursor: default; */
	  font: inherit;
	  line-height: normal;
	  overflow: visible;
	  padding: 0;
	  -webkit-user-select: none; /* for button */
	  -webkit-appearance: button; /* for input */
	  -moz-user-select: none;
	  -ms-user-select: none;
	}
</style>
</head>
<body class="sb-nav-fixed">
	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
		<!-- Navbar Brand-->
		<a class="navbar-brand ps-3" href="index.html">Start Bootstrap</a>
		<!-- Sidebar Toggle-->
		<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0"
			id="sidebarToggle" href="#!">
			<i class="fas fa-bars"></i>
		</button>
		<!-- Navbar Search-->
		<form
			class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
			<div class="input-group">
				<input class="form-control" type="text" />
				<button class="btn btn-primary" id="btnNavbarSearch" type="button">
					<i class="fas fa-search"></i>
				</button>
			</div>
		</form>
		<!-- Navbar-->
		<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" id="navbarDropdown" href="#"
				role="button" data-bs-toggle="dropdown" aria-expanded="false"><i
					class="fas fa-user fa-fw"></i></a>
				<ul class="dropdown-menu dropdown-menu-end"
					aria-labelledby="navbarDropdown">
					<li><a class="dropdown-item" href="#!">Settings</a></li>
					<li><a class="dropdown-item" href="#!">Activity Log</a></li>
					<li><hr class="dropdown-divider" /></li>
					<li>
						<form th:action="@{/logout}" method="post" class="dropdown-item">
                 			<input type="submit" id="btnLogout" value="Cerrar sesión"/>
                 	    </form>
					</li>
					
				</ul></li>
		</ul>
	</nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion sb-sidenav-dark"
				id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav">
						<div class="sb-sidenav-menu-heading">Core</div>
						<a class="nav-link" href="index.html">
							<div class="sb-nav-link-icon">
								<i class="fas fa-tachometer-alt"></i>
							</div> Dashboard
						</a>
						<div class="sb-sidenav-menu-heading">Interface</div>
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
							data-bs-target="#collapseLayouts" aria-expanded="false"
							aria-controls="collapseLayouts">
							<div class="sb-nav-link-icon">
								<i class="fas fa-columns"></i>
							</div> Layouts
							<div class="sb-sidenav-collapse-arrow">
								<i class="fas fa-angle-down"></i>
							</div>
						</a>
						<div class="collapse" id="collapseLayouts"
							aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" href="layout-static.html">Static
									Navigation</a> <a class="nav-link" href="layout-sidenav-light.html">Light
									Sidenav</a>
							</nav>
						</div>
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
							data-bs-target="#collapsePages" aria-expanded="false"
							aria-controls="collapsePages">
							<div class="sb-nav-link-icon">
								<i class="fas fa-book-open"></i>
							</div> Pages
							<div class="sb-sidenav-collapse-arrow">
								<i class="fas fa-angle-down"></i>
							</div>
						</a>
						<div class="collapse" id="collapsePages"
							aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav accordion"
								id="sidenavAccordionPages">
								<a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
									data-bs-target="#pagesCollapseAuth" aria-expanded="false"
									aria-controls="pagesCollapseAuth"> Authentication
									<div class="sb-sidenav-collapse-arrow">
										<i class="fas fa-angle-down"></i>
									</div>
								</a>
								<div class="collapse" id="pagesCollapseAuth"
									aria-labelledby="headingOne"
									data-bs-parent="#sidenavAccordionPages">
									<nav class="sb-sidenav-menu-nested nav">
										<a class="nav-link" href="login.html">Login</a> <a
											class="nav-link" href="register.html">Register</a> <a
											class="nav-link" href="password.html">Forgot Password</a>
									</nav>
								</div>
								<a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
									data-bs-target="#pagesCollapseError" aria-expanded="false"
									aria-controls="pagesCollapseError"> Error
									<div class="sb-sidenav-collapse-arrow">
										<i class="fas fa-angle-down"></i>
									</div>
								</a>
								<div class="collapse" id="pagesCollapseError"
									aria-labelledby="headingOne"
									data-bs-parent="#sidenavAccordionPages">
									<nav class="sb-sidenav-menu-nested nav">
										<a class="nav-link" href="401.html">401 Page</a> <a
											class="nav-link" href="404.html">404 Page</a> <a
											class="nav-link" href="500.html">500 Page</a>
									</nav>
								</div>
							</nav>
						</div>
						<div class="sb-sidenav-menu-heading">Addons</div>
						<a class="nav-link" href="charts.html">
							<div class="sb-nav-link-icon">
								<i class="fas fa-chart-area"></i>
							</div> Charts
						</a> <a class="nav-link" href="tables.html">
							<div class="sb-nav-link-icon">
								<i class="fas fa-table"></i>
							</div> Tables
						</a>
					</div>
				</div>
				<div class="sb-sidenav-footer">
					<div class="small">Usuario:</div>
					<p>[[${#httpServletRequest.remoteUser}]]</p>
				</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<h1 class="mt-4">Panel de control</h1>
					<!-- <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol> -->
					<div class="row">
					<div class="col-md-5">
						<div class="card mb-3">
							<div class="card-header">Crear producto</div>
							<div class="card-body">
								<form id="formProducto" enctype="multipart/form-data">
									<div class="mb-3 ">
										<label for="formProductId">Id producto</label>
										<input class="form-control" id="formProductId" type="text"placeholder="Introduce una id para buscar producto" />
									</div>
									<div class=" mb-3 ">
										<label for="inputTitle">Título del producto</label>
										<input class="form-control" id="formTitle" type="text"/> 
									</div>
									<div class="mb-3">
									    <label for="formLocation">Estancia</label>
										<input class="form-control" id="formLocation" type="text"/> 
									</div>
									<div class="mb-3">
                                         <label for="formDescription" class="form-label">Descripción del producto</label>
                                         <textarea class="form-control" id="formDescription"></textarea>
                                    </div>
									<div class="mb-3">
									    <label for="formPrice">Precio del producto</label>
										<input class="form-control" id="formPrice" type="number"/> 
									</div>
									<button id="btnFormCreate" class="btn btn btn-success">Crear</button>
									<button id="btnFormUpdate" class="btn btn-warning">Actualizar</button>
									<button id="btnFormDelete" class="btn btn-danger">Eliminar</button>
									<button id="btnFormCleanFields" type="reset"  class="btn btn-primary" ><i class="bi bi-file-earmark-x"></i></button>
								</form>
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="card mb-3">
							<div class="card-header">Imágen producto</div>
							<div class="card-body">
								<form method="POST" id="formImage" action="http://localhost:8080/apiFurnitureStore/addProductImage" enctype="multipart/form-data">
									<div class="mb-3">
										<label for="id">Introduce el id de producto</label>
										<input type="text" id="id" class="form-control" name="id" >
									</div>
								 	<input type="file" id="file" class="form-control mb-3" name="file" >
								 	<input class="btn btn-success" type="submit">
								</form> 
							</div>
						</div>
					</div>
					</div>
					<div class="card mb-4">
						<div class="card-header">
							<div class="row">
								<div class="col-md-6 mb-3">
									<i class="fas fa-table me-1"></i> Tabla de productos
								</div>
								<div class="col-md-3">
									<select id="selectProductFilter" class="form-select" aria-label="Default select example">
									  <option selected>Selecciona filtro</option>
									  <option value="0">Id Product</option>
									  <option value="1">Título</option>
									  <option value="2">Estancia</option>
									  <option value="3">Descripción</option>
									  <option value="4">Precio</option>
									</select>
								</div>
								<div class="col-md-3">
									<input type="text" id="searchByFilter"  class="form-control">
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table id="tableAllProducts" class="table table-bordered">
									<thead>
										<tr class="text-center">
											<th>Id producto</th>
											<th>Título</th>
											<th>Estancia</th>
											<th>Descripción</th>
											<th>Precio</th>
											<th>Imágen</th>
										</tr>
									</thead>
									<tfoot></tfoot>
									<tbody id="bodyTableProduct">
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</main>
			<footer class="py-4 bg-light mt-auto">
				<div class="container-fluid px-4">
					<div
						class="d-flex align-items-center justify-content-between small">
						<div class="text-muted">Copyright &copy; Your Website 2022</div>
						<div>
							<a href="#">Privacy Policy</a> &middot; <a href="#">Terms
								&amp; Conditions</a>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"crossorigin="anonymous"></script>
	<script src="js/scripts.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
	<!-- <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"crossorigin="anonymous"></script>
	<script src="js/datatables-simple-demo.js"></script>
</body>
</html>